/* ----- RESET & GLOBALS ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* light-blue wrapper background */
  background-color: #ddedf6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* ----- CARD STYLES ----- */
.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* max width of card use pixels not perecent if we use percent reponsive is overrated*/
  width: 90%;
  text-align: center;
  overflow: hidden;
  padding: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
}
.card img {
  width: 95%;
  /* smooth image corner */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0.25rem;
}

/* ----- TEXT & TYPOGRAPHY ----- */
.card h1 {
  font-size: 1.25rem;
  color: #1f2f56;
  margin: 1.25rem 1rem 0.5rem;
  line-height: 1.4;
}
.card p {
  font-size: 0.9rem;
  color: #7d8590;
  margin: 0 1rem 1.5rem;
  line-height: 1.5;
}
